@use "../foundation/global" as *;


.footer {
    width: 100%;
    height: 150px;
    position: relative;

    @media (max-width: 1080px) {
        margin-bottom: 100px;
    }
    @include mq("sp") {
        height: 180px;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before {
        background: url(/assets/images/footer_bg.png) no-repeat center center / cover;
    }

    &::after {
        background: rgba(#000, .8);
    }

    &-inner {
        padding-top: 60px;
        padding-bottom: 10px;
        position: relative;
        z-index: 2;

        @include mq("sp") {
            padding-top: 20px;
        }
    }
    
    &-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;

        @include mq("sp") {
            display: block;
        }

    }
    &__list {
        
        @include mq("sp") {
            text-align: center;

            &:not(:first-child) {
                margin-top: 9px;
            }
        }
    }
    &__listItem {
        font-size: 13px;
        color: #fff;

        &:hover {
            color: $gray_color08;
        }
    }

    &__copyright {
        margin-top: 40px;
        font-size: 11px;
        text-align: center;
        color: $gray_color08;
    }
}