@use "../foundation/global" as *;

.header {
    width: calc(100% - 26.4%); // お問い合わせフォーム部分の幅を引く
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid $gray_color01;
    box-shadow: 0 3px 4px rgba(207, 207, 207, .25);

    &.is-color {
        background-color: #fff;
    }


    @media(max-width: 1080px) {
        width: 100%;
    }
    @include mq("sp") {
        height: 60px;
    }

    &-inner {
        height: 100%;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq("tab") {
            padding: 0 25px;
        }
        @include mq("sp") {
            padding: 0 20px;
        }
    }

    &-logoArea {
        width: 151px;

        @include mq("sp") {
            width: 148px;
        }
    }
    &__logo {
        width: 100%;
        height: auto;
    }

    &-ul {
        display: flex;
        align-items: center;
        gap: 25px;
        padding-right: 28px;

        @include mq("sp") {
            display: none;
        }
    }

    &__list {

    }
    &__listItem {
        font-size: 12px;
        font-weight: bold;
        line-height: 1.8;
        letter-spacing: 0.03em;

        &:hover {
            color: $theme01_color;
        }
    }
    
}



.drawer {

    &-icon {
        width: 20px;
        height: 18px;
        position: fixed;
        top: 22px;
        right: 21px;
        z-index: 100;
        display: none;

        @include mq("sp") {
            display: block;
        }

        &.clicked {

            .drawer-icon__bar1 {
                top: 8px;
                transform: rotate(-45deg);
            }
            .drawer-icon__bar2 {
                display: none;
            }
            .drawer-icon__bar3 {
                top: 8px;
                transform: rotate(45deg);
            }
        }

        &__bars {
            width: 100%;
            height: 100%;
            position: relative;
        }

        &__bar1,
        &__bar2,
        &__bar3 {
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: $theme01_color;
          border-radius: 6px;
          transition: all 0.3s ease 0s;
        }
        &__bar1 {
            top: 0;
        }
        &__bar2 {
            top: 8px;
        }
        &__bar3 {
            top: 16px;
        }
    }

    &-content {
        display: none;
        
        @include mq("sp") {
            display: block;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 0;
            position: fixed;
            top: -200%;
            left: 0;
            z-index: -2;
            transition: all 0.3s ease 0s;
            
            &.clicked {
                opacity: 1;
                visibility: visible;
                top: 60px;
                height: 100vh;
                z-index: 100;
                background-color: #fff;
            }
        }
     
        &__items {

        }
        &__item {
            width: 100%;
            height: 70px;
            display: grid;
            place-items: center;
            font-size: 18px;
            font-weight: bold;
        }
    }

    &__btn {
        margin-top: 40px;
    }
}